@import './variables';
@import './mixins';

body {
  @apply scroll-smooth;
  font-family: 'Inter', sans-serif;
}

.inputField {
  @apply w-full h-6 sm:h-10 rounded-3xl hover:border-2 hover:border-primary-200 border-[1px] border-primary-200 focus:outline-none focus:border-secondary pl-2 sm:pl-4
}

.inputFieldContainer {
  @apply w-[80%] sm:w-80
}

.bStyle {
  @apply bg-primary-600 hover:bg-opacity-80 text-light hover:border-none rounded-3xl border-2 w-[80%] sm:w-80 h-10
}

.heading {
  @apply font-[Poppins] font-semibold text-2xl sm:text-3xl text-[#012E40] opacity-90
}

.contain {
  &-content {
    @apply mt-20 mx-4 md:mx-10
  };
  &-flex {
    @apply flex items-center justify-center
  };
  @apply mt-20 px-4 md:px-10;
}

.divider {
  @apply w-full h-[1px] bg-gray-300 my-5 sm:my-10;
}

.parallax_container {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#parallax_one {
  background-image: url(../public/art.png);
}

.parallax_overlay {
  background-color: #142939;
  opacity: 0.96;
}

.home {
  width: 100%;
  height: 100%;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}
.work-swiper-button-next {
  position: absolute !important;
  height: 57px !important;
  width: 57px;
  border-radius: 50px;
  color: black;
  background-color: #fff;
  @apply top-1/2 right-0 z-40 h-[40px] w-[40px] rounded-[30px] md:rounded-[50px];
}

.work-swiper-button-prev {
  position: absolute !important;
  height: 57px !important;
  width: 57px;
  border-radius: 50px;
  color: black;
  background-color: #fff;
  @apply top-1/2 left-0 z-40 h-[40px] w-[40px] rounded-[30px] md:rounded-[50px];
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.line-clamp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}